lombok.val.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.equalsAndHashCode.callSuper = call
lombok.log.fieldName = logger
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.xslf4j.flagUsage = error
