<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-80(%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{0})) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="NOOLITE" class="ch.qos.logback.core.FileAppender">
        <file>logs/noolite.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ZWAVE" class="ch.qos.logback.core.FileAppender">
        <file>logs/zwave.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="XIAOMI" class="ch.qos.logback.core.FileAppender">
        <file>logs/xiaomi.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HTTPDEV" class="ch.qos.logback.core.FileAppender">
        <file>logs/httpdev.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TRANSPORT" class="ch.qos.logback.core.FileAppender">
        <file>logs/transport.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EVENTS" class="ch.qos.logback.core.FileAppender">
        <file>logs/events.log</file>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.iris" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="ru.iris.protocol.noolite" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="NOOLITE"/>
    </logger>

    <logger name="ru.iris.protocol.zwave" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ZWAVE"/>
    </logger>

    <logger name="ru.iris.protocol.xiaomi" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="XIAOMI"/>
    </logger>

    <logger name="ru.iris.protocol.http" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="HTTPDEV"/>
    </logger>

    <logger name="ru.iris.protocol.transport" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TRANSPORT"/>
    </logger>

    <logger name="ru.iris.events" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="EVENTS"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>